<!-- FOOTER START -->
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1>NELDAMPAY</h1>
            <ul>
                <li>About</li>
                <li>Mission</li>

            </ul>
        </div>
        <div class="col">
            <h1>Products</h1>
            <ul>
                <li>Services</li>
                <li>Get in touch</li>
            </ul>
        </div>


        <div class="col">
            <h1>CONTACT</h1>
            <ul>
                <li>yapsasee@gmail.com</li>
                <li>+221776685975</li>
            </ul>
        </div>
        <div class="col social">
            <h1>2020 COPYRIGHT NELDAMPAY LLC </h1>
            <!--    <ul>
                <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
                <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
            </ul> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END OF FOOTER -->