<div id="container">
    <nav>
        <ul>
            <li>
                <a href="/home">NELDAMPAY</a>
            </li>
            <li>
                <a href="/table-users">Users</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="/usercreate">Add user</a></li>

                </ul>
            </li>
            <li>
                <a href="table-role">Roles</a>
                <!-- First Tier Drop Down -->
                <ul>
                    <li><a href="add-role">Add Roles</a></li>

                </ul>
            </li>
            <li>
                <a href="/table-accounts">Bank Accounts</a>
                <ul>
                    <li>
                        <a href="accountcreate">New Account</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="/depot">Make an Account Deposit</a>
                <ul>
                    <li><a href="/table-deposits">Show deposits</a></li>
                </ul>
            </li>
            <li>
                <a href="/send">Send Money</a>
            </li>
            <li>
                <a href="/retrait">Withdraw</a>
            </li>

            <li>
                <a href="">Contact Us</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>

            <li>
                <a href="/login">Log Out</a>
            </li>

        </ul>
    </nav>
</div>