<div id="container">

    <nav>
        <ul>
            <li>
                <a href="/home">

                    <h6>NELDAM<span>PAY</span>
                    </h6>
                </a>
            </li>
            <li>
                <a href="/home">HOME</a>
                <!-- First Tier Drop Down -->

            </li>

            <li>
                <a href="/send">MONEY TRANSFER</a>
            </li>
            <li>
                <a href="/retrait">WITHDRAW</a>
            </li>

            <li>
                <a href="/usercreate">USER PARTNER</a>

            </li>

            <li>
                <a href="">CONTACT US</a>
            </li>
            <li>
                <a href="#">
               ABOUT US</a>
            </li>
            <li>
                <a href="/">OUR TEAM</a>
                <!-- First Tier Drop Down -->
                <li>
                    <li>
                        <a (click)="Onlogout()">DECONNEXION</a>
                    </li>
        </ul>
    </nav>
</div>