<h2> NELPDAM<span>PAY</span> DEPO<span>SITS </span></h2>
<button (click)="Ondepot()">TABLE DES DEPOTS</button>

<table class="responstable">

    <tr>
        <th data-th="Driver details">Date de depot</th>
        <th>Montant</th>
        <th>Compte</th>
        <th>User Depositant</th>



    </tr>

    <tr *ngFor=" let depot of depots ">

        <td>{{depot.datedepot}}</td>
        <td>{{depot.montant }}</td>
        <td>{{depot.compte}}</td>
        <td>{{depot.caissier}}</td>





    </tr>

</table>