<form [formGroup]="compte" class="login-box">
    <h1 class="blanc" style="font-size: 25px;padding-bottom:20px;color: #00A03A">NELDAMPAY||NEW PARTNER</h1>
    <div class="texbox ">
        <input type="text " required formControlName="ninea">
        <span data-placeholder="Submit ninea "></span>
    </div>
    <div class="texbox">
        <input type="text" formControlName="nom" value={{nom}} id="nom">
        <span data-placeholder="Entrer le nom user "></span>
    </div>

    <div class="texbox ">
        <input type="text " required formControlName="username" value={{username}} id="username">
        <span data-placeholder="Entrer le username "></span>
    </div>
    <div class="texbox ">
        <input type="password " formControlName="password" value={{password}} id="password">
        <span data-placeholder="Entrer le password "></span>
    </div>
    <div class="texbox ">
        <input type="text " requiredformControlName="email" value={{email}} id="email">
        <span data-placeholder="Entrer email "></span>
    </div>
    <div class="texbox ">
        <input type="text " required formControlName="regicomm" value={{regicomm}} id="regicomm">
        <span data-placeholder="Submit RC "></span>
    </div>

    <div class="texbox ">
        <input type="number" formControlName="montant">
        <span data-placeholder="Entrer le montant "></span>
    </div>

    <input type="submit " (click)="OnCompte() " class="logbtn " login=" " value="ENREGISTRER PARTNER ">

</form>