<h2> NELPDAM<span>PAY</span> DASH<span>BORD ALL USERS!</span></h2>
<button (click)="Onusers()">USERS TABLE</button>

<table class="responstable">

    <tr>
        <th data-th="Driver details">Nom</th>
        <th>Username</th>
        <th>Roles</th>
        <th>email</th>

        <th>Etat</th>
        <th>Block</th>

    </tr>

    <tr *ngFor="let user of users">
        <td>{{ user.nom }}</td>
        <td>{{user.username}}</td>
        <td>{{user.role.libelle}}</td>
        <td>{{user.email}}</td>

        <td>{{user.isActive}}</td>
        <td><input type="radio" /></td>


    </tr>

</table>