<app-navbar></app-navbar>
<h2> NELPDAM<span>PAY</span> DASH<span>BORD ALL USERS!</span></h2>

<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchUser" placeholder="rechercher un user">
</div>


<table class="responstable">

    <tr>
        <th data-th="Driver details">Nom</th>
        <th>Username</th>
        <th>Roles</th>
        <th>email</th>
        <th>Image</th>
        <th>Etat</th>

    </tr>

    <tr *ngFor="let user of users  | filter:searchUser">
        <td>{{ user.nom }}</td>
        <td>{{ user.username}} </td>
        <td>{{user.role.libelle}} </td>
        <td>{{user.email}}</td>
        <td>
            <img [src]="displayImage(user)">
        </td>

        <td>
            <div *ngIf="user.isActive; else elseBlock">
                <button class="btn btn-success" (click)="OnChange(user.id)"> Actived</button>
            </div>
            <ng-template #elseBlock>
                <button class="btn btn-danger" (click)="OnChange(user.id)">Blocked</button>
            </ng-template>

        </td>
    </tr>
</table>