<app-navbar></app-navbar>
<h3> NELPDAM<span>PAY</span> ACC<span>OUNTS </span></h3>
<div class="row">

    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchAcc" placeholder="rechercher un compte">
    </div>
</div>

<table class="responstable">

    <tr>
        <th data-th="Driver details">SOLDE</th>
        <th>PARTENAIRE</th>
        <th>ADMIN CREATEUR</th>
        <th>DATE DE CREATION</th>
        <th>NUMERO</th>


    </tr>

    <tr *ngFor="let account of accounts |filter:searchAcc">
        <td>{{account.solde}}</td>
        <td>{{account.partenaire.ninea}}</td>
        <td>{{account.admin.nom}}</td>
        <td>{{account.datecreation}}</td>
        <td>{{account.numerocompte}}</td>



    </tr>

</table>