<app-navbar></app-navbar>
<div class="dep">
    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--fence"></div>
                <div class="card__content">
                    <div class="card__title">Flex</div>
                    <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                    <a href="accountcreate"><button class="btn btn--block card__btn">CREER UN COMPTE
                          POUR UN  PARTNAIRE</button></a>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--river"></div>
                <div class="card__content">
                    <div class="card__title">Flex Grow</div>
                    <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
                    <a href="table-accounts"> <button class="btn btn--block card__btn">LISTER LES COMPTES PARTENAIRES
                           </button></a>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record"></div>
                <div class="card__content">
                    <div class="card__title">Flex Shrink</div>
                    <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
                    <a href="/table-users"><button class="btn btn--block card__btn">LISTER LES USERS</button></a>
                </div>
            </div>
        </li>

    </ul>

    <ul class="cards">
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image4"></div>
                <div class="card__content">
                    <div class="card__title">Flex</div>
                    <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                    <a href="usercreate"><button class="btn btn--block card__btn">AJOUTER UN USER SYSTEME
                           </button></a>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image5"></div>
                <div class="card__content">
                    <div class="card__title">Flex Grow</div>
                    <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
                    <a href="affect"> <button class="btn btn--block card__btn">AFFECTER UN COMPTE A UN USER</button></a>
                </div>
            </div>
        </li>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image6"></div>
                <div class="card__content">
                    <div class="card__title">Flex Shrink</div>
                    <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
                    <a href="depot"><button class="btn btn--block card__btn">FAIRE UN DEPOT POUR UN PARTENAIRE</button></a>
                </div>
            </div>
        </li>

    </ul>
</div>