<app-navbar></app-navbar>
<h3> NELPDAM<span>PAY</span> PARTS</h3>

<form class="date-block" [formGroup]="filterForm">
    <div class="date-block__list">

        <input type="date" placeholder="From Date" formControlName="fromDate">

    </div>
    <div class="date-block__list">

        <input type="date" placeholder="To Date" formControlName="toDate">

    </div>
    <button mat-button color="secondary" class="primary" (click)="applyFilter()">Search By Period</button>
</form>
<table class="responstable">

    <tr>
        <th>PARTS ETAT</th>
        <th>PARTS SYSTEME</th>
        <th>DATE</th>
    </tr>

    <tr *ngFor="let trans of transactions">
        <td>{{trans.partetat}}</td>
        <td>{{trans.partsysteme}}</td>
        <td>{{trans.datedenvoi | date:'dd/MM/yyyy'}}</td>

    </tr>

</table>